* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4; 
}

/* Styling for the container sections */
.login-form, .kidcalc-section, .information-bar {
    background: rgba(255, 255, 255, 0.9); 
    padding: 20px;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    width: 80%;
    max-width: 960px;
}

/* Form fields styling */
.form-field {
    margin-bottom: 10px;
}

.form-field label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"], input[type="number"], select {
    width: calc(100% - 22px); 
    padding: 10px;
    margin-bottom: 10px;
    border: 2px solid #ccc; 
    border-radius: 5px;
    font-size: 16px;
}

/* Button styling */
button {
    padding: 10px 15px;
    border: 2px solid #ccc; 
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    background-color: #e7e7e7; 
    color: #333; 
}

button:hover {
    background-color: #d7d7d7; 
}

/* KidCalc section specific styling */
.number-buttons, .operator-buttons, .calc-controls {
    text-align: center;
    margin-bottom: 10px;
}

/* Calculator display and answer input */
.calc-display input, .calc-answer input {
    width: 100%; 
    padding: 10px;
    border: 2px solid #ccc; 
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 10px;
}

/* Results and information bar */
.calc-results p, .information-bar p {
    padding: 10px;
    background: #e7e7e7; 
    border-radius: 5px;
    margin-bottom: 10px;
    color: #333; 
    text-align: center;
}


.information-bar p, .calc-results p {
    background: rgba(255, 255, 255, 0.8);
}


@media (max-width: 768px) {
    .login-form, .kidcalc-section, .information-bar {
        width: 95%;
    }
}
