/* theme3.css - Cars Theme */
body.theme3 {
    background-color: #546E7A; /* Slate Grey */
    color: #37474F; /* Dark Grey Text */
    background-image: 
        url('../assets/images/cars1.jpg'),
        url('../assets/images/cars2.jpg');
    background-repeat: no-repeat, no-repeat;
    background-position: bottom right, top left;
    background-size: 50% 50%, 50% 50%;
}

body.theme3 button, body.theme3 .form-field {
    background-color: #D32F2F; /* Red */
    border-color: #F44336; /* Bright Red */
    color: white;
}

body.theme3 .calc-display, body.theme3 .calc-answer input {
    background-color: #B71C1C; /* Dark Red */
    color: #FFEB3B; /* Yellow Text */
}
