
.featured-blogs h3 {
    font-size: 2rem; 
    font-weight: bold; 
    color: #333; 
    margin: 2rem 0; 
    text-align: center; 
}


.post-card {
    height: auto; 
    margin: 1rem; 
}


.post-card h4 {
    font-size: 1.25rem;
    margin-bottom: 0.5rem; 
}

.post-card p {
    color: #666; 
}

.post-card h4 a {
    text-decoration: none; 
    color: black;
    font-weight: bold; 
}

