@import url('fonts.css');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  color: #333;
  background: #f9f9f9;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  width: 80%;
  max-width: 1200px;
  margin: auto;
  flex-grow: 1;
}


.site-header {
  background-color: #333;
  color: white;
  padding: 10px 0;
}

.header-contents {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 2rem;
}

.site-navigation a, .button {
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
  margin-right: 0.5rem;
}

.button {
  background-color: #0cace6;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

/* Hero section */
.hero {
  background: #fff; 
  padding: 5rem 0 3rem;
}

.hero h2, .hero p {
  color: black; 
  text-align: center; 
}


.posts-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 2rem;
  margin-top: 2rem; 
}

.post-card {
  padding: 2rem;
  background: #fff;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  border-radius: 4px;
  transition: transform 0.3s;
}

.post-card:hover {
  transform: translateY(-5px);
}


.site-footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px 0;
}


@media (max-width: 768px) {
  .site-navigation a, .button {
      padding: 0.3rem 0.6rem;
  }

  .hero {
      padding: 3rem 0;
  }

  .hero h2 {
      font-size: 1.5rem;
  }

  .hero p {
      font-size: 1rem;
  }
}
